<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
     <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"> 
    <parameters>
      <!--Data Source=10.29.0.29;Initial Catalog=F17I4DABH4Gr4;Persist Security Info=True;User ID=F17I4DABH4Gr4;Password=***********-->
      <parameter value="Data Source=10.29.0.29;Initial Catalog=F17I4DABH4Gr4;Persist Security Info=True;User ID=F17I4DABH4Gr4; Password=F17I4DABH4Gr4" />
    </parameters> 
  </defaultConnectionFactory> 
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="SensorContext" connectionString="data source=10.29.0.29;initial catalog=F17I4DABH4Gr4;persist security info=True;user id=F17I4DABH4Gr4;password=F17I4DABH4Gr4;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>